/* Custom Properties*/
:root {
    --background-color: #dcd8c0;
    --text-color: #4b413d;
    --highlight-background-color: #454138;
    --highlight-text-color: #dcd8c0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* font-family: Helvetica, sans-serif; */
    font-weight: 300;
    letter-spacing: 0.03rem;
    padding: 16px 16px;
    line-height: 1.5;
    max-width: 640px;
    margin: 0 1.5em;
}

body p {
    max-width: 66ch;
}

.highlight {
    background-color:var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.container {
    margin: 30px 0px;
}

h2,
h3,
h4,
h5 {
    font-size: inherit;
}