html {
    background-color: 	#dcd8c0;
    color: 	#4b413d;
    /* font-family: Helvetica, sans-serif; */
    font-weight: lighter;
    letter-spacing: 0.03rem;
    padding-left: 22px;
    padding-top: 8px;
}   

.highlight {
    background-color:#454138;;
    color: #dcd8c0;
}

.container {
    margin: 30px 0px;
}